Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { Ref: AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []

files:
  "/etc/httpd/conf.d/ssl.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:80>
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} !https
        RewriteCond %{SERVER_ADDR}   !^127\.0\.0\.1
        RewriteRule !/status https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
      </VirtualHost>

      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>
        SSLEngine on
        SSLProtocol All -SSLv2 -SSLv3
        SSLCertificateFile "/etc/pki/tls/certs/ssl.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/ssl.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/sub.class1.server.ca.pem"
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
 
  "/etc/pki/tls/certs/ssl.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGazCCBVOgAwIBAgIDE58lMA0GCSqGSIb3DQEBCwUAMIGMMQswCQYDVQQGEwJJ
      TDEWMBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0
      YWwgQ2VydGlmaWNhdGUgU2lnbmluZzE4MDYGA1UEAxMvU3RhcnRDb20gQ2xhc3Mg
      MSBQcmltYXJ5IEludGVybWVkaWF0ZSBTZXJ2ZXIgQ0EwHhcNMTQxMDE1MTQxNTAw
      WhcNMTUxMDE3MDIwOTIyWjBmMQswCQYDVQQGEwJERTEkMCIGA1UEAxMbd3d3Lmpv
      aGFubmVzLW1hcmlhLWZyYW5rLmRlMTEwLwYJKoZIhvcNAQkBFiJwb3N0bWFzdGVy
      QGpvaGFubmVzLW1hcmlhLWZyYW5rLmRlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
      MIIBCgKCAQEA0bI0JGUgQe1PB7Dspda//6+pztTjBBllkOA7tL6aLDG8ti6i/x99
      yUIMMyAy9iVGBmr6pm5pqbDkYoOHYoTEZdWsz5jpnC522AHEA0nzT3NgLFSaC+2d
      9FVOnb9SVhLzIYllbIpTUZcTKHovyKtYBB9wDDfFz8WgYz5R1nP4Rv54XF36FnOY
      J+Kkw7aIMT+/1V8McSOho0ZRNFMMdVhsSE6CTbY58B5jkiFLZlad54oJ50j/QA31
      7snwoRMV7R1bQH5CZUPPtW/Fpzc0UHFX+xsXKaMAmYjK0Mt523Gt1LyGl3hPSEdr
      4i6gqfbIIcyXNzaNk3uNAb2dxLtS7wD+BwIDAQABo4IC+TCCAvUwCQYDVR0TBAIw
      ADALBgNVHQ8EBAMCA6gwEwYDVR0lBAwwCgYIKwYBBQUHAwEwHQYDVR0OBBYEFFkc
      Rj+G6Ramt+4Yj1QAe6b9jOcfMB8GA1UdIwQYMBaAFOtCNNCYsKuf9BtrCPfMZC7v
      DixFMD8GA1UdEQQ4MDaCG3d3dy5qb2hhbm5lcy1tYXJpYS1mcmFuay5kZYIXam9o
      YW5uZXMtbWFyaWEtZnJhbmsuZGUwggFWBgNVHSAEggFNMIIBSTAIBgZngQwBAgEw
      ggE7BgsrBgEEAYG1NwECAzCCASowLgYIKwYBBQUHAgEWImh0dHA6Ly93d3cuc3Rh
      cnRzc2wuY29tL3BvbGljeS5wZGYwgfcGCCsGAQUFBwICMIHqMCcWIFN0YXJ0Q29t
      IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MAMCAQEagb5UaGlzIGNlcnRpZmljYXRl
      IHdhcyBpc3N1ZWQgYWNjb3JkaW5nIHRvIHRoZSBDbGFzcyAxIFZhbGlkYXRpb24g
      cmVxdWlyZW1lbnRzIG9mIHRoZSBTdGFydENvbSBDQSBwb2xpY3ksIHJlbGlhbmNl
      IG9ubHkgZm9yIHRoZSBpbnRlbmRlZCBwdXJwb3NlIGluIGNvbXBsaWFuY2Ugb2Yg
      dGhlIHJlbHlpbmcgcGFydHkgb2JsaWdhdGlvbnMuMDUGA1UdHwQuMCwwKqAooCaG
      JGh0dHA6Ly9jcmwuc3RhcnRzc2wuY29tL2NydDEtY3JsLmNybDCBjgYIKwYBBQUH
      AQEEgYEwfzA5BggrBgEFBQcwAYYtaHR0cDovL29jc3Auc3RhcnRzc2wuY29tL3N1
      Yi9jbGFzczEvc2VydmVyL2NhMEIGCCsGAQUFBzAChjZodHRwOi8vYWlhLnN0YXJ0
      c3NsLmNvbS9jZXJ0cy9zdWIuY2xhc3MxLnNlcnZlci5jYS5jcnQwIwYDVR0SBBww
      GoYYaHR0cDovL3d3dy5zdGFydHNzbC5jb20vMA0GCSqGSIb3DQEBCwUAA4IBAQBv
      7Gylr2Q9NuWKwC2IUrEPFIUx0Oi/RkNPEjFa4T4154cj5Oelzgn7e8bHEpHBSwLf
      boqPWf66P/XLAuB5V1G/oBIxxl/XhjA4Wtr1Y8kznGR4pg2bkP5k0l/y0AhYI6JG
      5XNnYSGyUeGyKQqnN7yFOBaC/nFFy3ERSx8i6g+yaH8ajHZLj7Ee4nahDtP4Upf1
      9a+WuDh/lU0uF6wb0RpzotZnNlys2q5KceU9QLNKL7P8fhwghSqDHCsudIusqdDA
      LTP8sb7Au1oumG8O6FbZubPv6dlSJsgJ9cPkMmLTyNAb9RnEQw7ftQTghMJvRu4G
      G9v99tDwlI98Qsw4oMUd
      -----END CERTIFICATE-----

  "/etc/pki/tls/certs/ssl.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA0bI0JGUgQe1PB7Dspda//6+pztTjBBllkOA7tL6aLDG8ti6i
      /x99yUIMMyAy9iVGBmr6pm5pqbDkYoOHYoTEZdWsz5jpnC522AHEA0nzT3NgLFSa
      C+2d9FVOnb9SVhLzIYllbIpTUZcTKHovyKtYBB9wDDfFz8WgYz5R1nP4Rv54XF36
      FnOYJ+Kkw7aIMT+/1V8McSOho0ZRNFMMdVhsSE6CTbY58B5jkiFLZlad54oJ50j/
      QA317snwoRMV7R1bQH5CZUPPtW/Fpzc0UHFX+xsXKaMAmYjK0Mt523Gt1LyGl3hP
      SEdr4i6gqfbIIcyXNzaNk3uNAb2dxLtS7wD+BwIDAQABAoIBAF0U0GZzaS06jMEq
      PPGkcNerfyHrh9XS/C2iC37AuKjzbwQjkYDT1r8WjVnIajau9vV0WUy1aDvF5KsC
      HX+S1acqgSopg1Erot9hcUPQeKuE2GT1LOgsktfZYitNuNuyT7BMT/QtNqzZ9cwa
      6MkXnds+pTsXKrx+yiIjkKo0EjpYfxzvAJK8vUOxRTb6mOJhvdrElzBBFjeKL2Fs
      ma2rVIbU6GeUAM0echmataR6K7GrWPzHRCNJeBY5dcvKgMLPXrnye8gYcPVHDMeB
      WDZj6E8MHuvG8pgVXReOP4ZDCleEE1BvTuIXep5C8t+Rz6DYpez42rzEli/HWFrY
      DfieuFECgYEA5/o7lM/r9IOF+cMBKBF19zAl+ErRO6zgaRGLc5YTf8IGLcc/Qpxm
      0oH2rxwA3z0E+rT/jzy31konTezccz7MgtjY08PHVH0gUAY7kggIM8EtDlXM0gUD
      oZ+DEkp3YkZxcF3p2pOYJ87TQ/e38ck1Z3S3BH87XX1MrmWKObP5vokCgYEA52lJ
      qBiS2bJL4yK2l1FaWz+bE1mq0zep92qCJ9oKvt5tlBDJsztUhWKY84FYX92KqL78
      xd6XWICe+X7xzlf4JUvWIjKsz3AsK80NV4nI3sk+DYuQSg/sK/3aUPImnYONvULs
      R0SdIbkJq7com1hiv+FYEfULDUF+vbQAmECTNA8CgYB5gkEjOaXGdf3/TX2Vl0/L
      IpVA8S+Xqn4BiwcYjEu6Z88Eu5EPOw1AxoKIRorOZA/vok8aoBtLS5w63Q677vEA
      uMUaZzpJryD1yc36N+rT8SPAloCqoaW9SuhE9GyENZHF4etUamsQru1KdL8NDu/C
      OQiEeoCF/9PipZ05jGQMwQKBgBxGuUFY/1iqeKtgan9C6Y+Mzh4nLsBwZMxer1i/
      Q+DevPUCuCK2dTV3PslCXNIZ9/92ltx2vneJ/+LsqA9WoHOuOJQlLQiL5FnVzHON
      2oWegX6WNyNVnr4hXrPVYvKMSJ1/t+9davXb7lqVHtkci7R2jJRlJNyRzDLR8+Cm
      w1XxAoGAbUmZE00iVAiXvWH3lYynhjv4LX/Xd0yDbt2Ls1EDdHOkyGHUE9NCQiD8
      OFnas5fhFd3r3ZWgrXwXqebcThDCE+r9siZFB0JebHpNpfyAquaspkPzJuCQuN4L
      K6ENecz7u2u56EzvOgWJMWAahV9tMLMuEeL+BwDjBlzpyb+VHMo=
      -----END RSA PRIVATE KEY-----

  "/etc/pki/tls/certs/sub.class1.server.ca.pem":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGNDCCBBygAwIBAgIBGDANBgkqhkiG9w0BAQUFADB9MQswCQYDVQQGEwJJTDEW
      MBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0YWwg
      Q2VydGlmaWNhdGUgU2lnbmluZzEpMCcGA1UEAxMgU3RhcnRDb20gQ2VydGlmaWNh
      dGlvbiBBdXRob3JpdHkwHhcNMDcxMDI0MjA1NDE3WhcNMTcxMDI0MjA1NDE3WjCB
      jDELMAkGA1UEBhMCSUwxFjAUBgNVBAoTDVN0YXJ0Q29tIEx0ZC4xKzApBgNVBAsT
      IlNlY3VyZSBEaWdpdGFsIENlcnRpZmljYXRlIFNpZ25pbmcxODA2BgNVBAMTL1N0
      YXJ0Q29tIENsYXNzIDEgUHJpbWFyeSBJbnRlcm1lZGlhdGUgU2VydmVyIENBMIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtonGrO8JUngHrJJj0PREGBiE
      gFYfka7hh/oyULTTRwbw5gdfcA4Q9x3AzhA2NIVaD5Ksg8asWFI/ujjo/OenJOJA
      pgh2wJJuniptTT9uYSAK21ne0n1jsz5G/vohURjXzTCm7QduO3CHtPn66+6CPAVv
      kvek3AowHpNz/gfK11+AnSJYUq4G2ouHI2mw5CrY6oPSvfNx23BaKA+vWjhwRRI/
      ME3NO68X5Q/LoKldSKqxYVDLNM08XMML6BDAjJvwAwNi/rJsPnIO7hxDKslIDlc5
      xDEhyBDBLIf+VJVSH1I8MRKbf+fAoKVZ1eKPPvDVqOHXcDGpxLPPr21TLwb0pwID
      AQABo4IBrTCCAakwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwHQYD
      VR0OBBYEFOtCNNCYsKuf9BtrCPfMZC7vDixFMB8GA1UdIwQYMBaAFE4L7xqkQFul
      F2mHMMo0aEPQQa7yMGYGCCsGAQUFBwEBBFowWDAnBggrBgEFBQcwAYYbaHR0cDov
      L29jc3Auc3RhcnRzc2wuY29tL2NhMC0GCCsGAQUFBzAChiFodHRwOi8vd3d3LnN0
      YXJ0c3NsLmNvbS9zZnNjYS5jcnQwWwYDVR0fBFQwUjAnoCWgI4YhaHR0cDovL3d3
      dy5zdGFydHNzbC5jb20vc2ZzY2EuY3JsMCegJaAjhiFodHRwOi8vY3JsLnN0YXJ0
      c3NsLmNvbS9zZnNjYS5jcmwwgYAGA1UdIAR5MHcwdQYLKwYBBAGBtTcBAgEwZjAu
      BggrBgEFBQcCARYiaHR0cDovL3d3dy5zdGFydHNzbC5jb20vcG9saWN5LnBkZjA0
      BggrBgEFBQcCARYoaHR0cDovL3d3dy5zdGFydHNzbC5jb20vaW50ZXJtZWRpYXRl
      LnBkZjANBgkqhkiG9w0BAQUFAAOCAgEAIQlJPqWIbuALi0jaMU2P91ZXouHTYlfp
      tVbzhUV1O+VQHwSL5qBaPucAroXQ+/8gA2TLrQLhxpFy+KNN1t7ozD+hiqLjfDen
      xk+PNdb01m4Ge90h2c9W/8swIkn+iQTzheWq8ecf6HWQTd35RvdCNPdFWAwRDYSw
      xtpdPvkBnufh2lWVvnQce/xNFE+sflVHfXv0pQ1JHpXo9xLBzP92piVH0PN1Nb6X
      t1gW66pceG/sUzCv6gRNzKkC4/C2BBL2MLERPZBOVmTX3DxDX3M570uvh+v2/miI
      RHLq0gfGabDBoYvvF0nXYbFFSF87ICHpW7LM9NfpMfULFWE7epTj69m8f5SuauNi
      YpaoZHy4h/OZMn6SolK+u/hlz8nyMPyLwcKmltdfieFcNID1j0cHL7SRv7Gifl9L
      WtBbnySGBVFaaQNlQ0lxxeBvlDRr9hvYqbBMflPrj0jfyjO1SPo2ShpTpjMM0InN
      SRXNiTE8kMBy12VLUjWKRhFEuT2OKGWmPnmeXAhEKa2wNREuIU640ucQPl2Eg7PD
      wuTSxv0JS3QJ3fGz0xk+gA2iCxnwOOfFwq/iI9th4p1cbiCJSS4jarJiwUW0n6+L
      p/EiO/h94pDQehn7Skzj0n1fSoMD7SfWI55rjbRZotnvbIIp3XUZPD9MEI3vu3Un
      0q6Dp6jOW6c=
      -----END CERTIFICATE-----

